<nz-page-header nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/finance/overview">{{ 'Common.Overview' | transloco }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/finance/document/list">{{ 'Finance.Documents' | transloco }}</a>
    </nz-breadcrumb-item>
    <nz-page-header-subtitle>{{ currentMode | transloco }}</nz-page-header-subtitle>
  </nz-breadcrumb>
  <nz-page-header-title>{{ 'Finance.Document' | transloco }}</nz-page-header-title>
  <nz-page-header-subtitle>{{ currentMode | transloco }}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button [disabled]="isFieldChangable" (click)="onChangeToEditMode()">
      {{ 'Common.Edit' | transloco }}
    </button>
    <button nz-button nzType="primary" (click)="onSave()" [disabled]="!isFieldChangable || !docFormGroup.valid">
      {{ 'Common.Save' | transloco }}
    </button>
  </nz-page-header-extra>
</nz-page-header>

<form nz-form [formGroup]="docFormGroup">
  <!-- ID -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7">ID</nz-form-label>
    <nz-form-control [nzSpan]="12" style="text-align: left">
      <input nz-input formControlName="id" />
    </nz-form-control>
  </nz-form-item>

  <!-- Header -->
  <hih-fin-document-header formControlName="header" [docType]="currentDocument.DocType" [currentUIMode]="uiMode"
    [arDocTypes]="arDocTypes" [arCurrencies]="arCurrencies" [baseCurrency]="baseCurrency">
  </hih-fin-document-header>
</form>

<!-- Items -->
<nz-table #itemTable [nzData]="currentDocument.Items" [nzShowPagination]="false">
  <thead>
    <tr>
      <th nzWidth="50px">#</th>
      <th nzWidth="200px">{{ 'Finance.Account' | transloco }}</th>
      <th nzWidth="300px">{{ 'Finance.TransactionType' | transloco }}</th>
      <th nzWidth="200px">{{ 'Finance.Amount' | transloco }}</th>
      <th nzWidth="50px">{{ 'Finance.Currency' | transloco }}</th>
      <th nzWidth="250px">{{ 'Common.Comment' | transloco }}</th>
      <th nzWidth="150px">{{ 'Finance.ControlCenter' | transloco }}</th>
      <th nzWidth="150px">{{ 'Finance.Activity' | transloco }}</th>
    </tr>
  </thead>
  <tbody>
    @for(itemdata of itemTable.data; track $index) {
    <tr>
      <td>{{ itemdata.ItemId }}</td>
      <td>{{ getAccountName(itemdata.AccountId!) }}</td>
      <td>{{ getTranTypeName(itemdata.TranType!) }}</td>
      <td>{{ itemdata.TranAmount | number : '1.2-2' }}</td>
      <td>{{ getCurrencyName(itemdata.UseCurr2 ? currentDocument.TranCurr2! : currentDocument.TranCurr!) }}</td>
      <td>{{ itemdata.Desp }}</td>
      <td>{{ getControlCenterName(itemdata.ControlCenterId!) }}</td>
      <td>{{ getOrderName(itemdata.OrderId!) }}</td>
    </tr>
    }
  </tbody>
</nz-table>
