<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img src="/favicon.ico" alt="logo">
        <h1>HIH App</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">{{'Nav.Welcome' | transloco}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
      <li nz-submenu [nzTitle]="'Common.Help' | transloco" nzIcon="question-circle">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/about">{{ 'Nav.About' | transloco }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/version">{{ 'Nav.Version' | transloco }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/credits">{{ 'Nav.Credits' | transloco }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/languages">{{ 'Common.Languages' | transloco }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-item" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
        <span class="header-spacer"></span>
        <span class="header-item" (click)="toggleTheme()">
          <i class="trigger" nz-icon nzType="skin" nzTheme="outline"></i>
        </span>
        <span class="header-item">
          <a nz-dropdown [nzDropdownMenu]="menuLanguage">
            <i nz-icon nzType="global" nzTheme="outline" class="app-header-icon"></i>
          </a>
          <nz-dropdown-menu #menuLanguage="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="switchLanguage('en')">
                {{ 'Nav.English' | transloco }}
              </li>
              <li nz-menu-item (click)="switchLanguage('zh_CN')">
                {{ 'Nav.SimplifiedChinese' | transloco }}
              </li>
            </ul>
          </nz-dropdown-menu>
        </span>
        @if(!isLoggedIn)
        {
          <span class="header-item" (click)="onLogon()">
            <i class="trigger" nz-icon nzType="idcard" nzTheme="outline"></i>            
          </span>
        }
        @else
        {
          <span class="header-item" (click)="onGoToUserDetail()">
            <i class="trigger" nz-icon nzType="user" nzTheme="outline"></i>
          </span>
        }
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>© 2016 - {{currentYear}}, Alva Chien, All rights reserved</nz-footer>
  </nz-layout>
</nz-layout>
